@model AgileWork.ModelView.ProjectViewModel

@{
    if (Session["idUser"] == null)
    {
        @Url.Action("Index", "Login")
    }

    ViewBag.Title = "ShowDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="blockContainer" class="content-wrapper bg-project-detail">
    <div>
        <div id="block-page" data-js="block-page">
            <div id="circle-progress" data-js="circle-progress">
                <strong></strong>
            </div>
        </div>
    </div>
    <div class="container">
        <section class="content">
            <div id="containerProyectDetail" class="box box-primary container-opacity">
                <div class="box-header">
                    <h3 class="box-title textOverflow-boxTitles"><i class="fa fa-tags" aria-hidden="true"></i><span class="space-subtitle">Detalle de proyecto</span></h3>
                </div>
                <div class="box-body">
                    <div class="row row-fixed-zero">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                            <div class="row row-fixed-zero margin-top-2perc">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <label for="iNameProject" class="control-label">Nombre</label>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <input type="text" class="form-control" id="iNameProject" readonly="readonly" placeholder="Nombre de proyecto" />
                                </div>
                            </div>
                            <div class="row row-fixed-zero margin-top-2perc">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <label for="iDatesProject" class="control-label">Fechas</label>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <input type="text" class="form-control" id="iDatesProject" disabled="" placeholder="Rango de fechas" />
                                </div>
                            </div>
                            <div class="row row-fixed-zero margin-top-2perc">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <label>Descripci&oacute;n</label>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <textarea id="taDescriptionProject" class="form-control" rows="5" readonly="readonly" placeholder="Descripci&oacute;n del proyecto..."></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
                            <div id="containerUserStories" class="box box-cus margin-top-2perc box-task">
                                <div class="box-header with-border">
                                    <h3 class="box-title textOverflow-boxTitles container-task-header">Historias de Usuario</h3>
                                </div>
                                <div class="box-body" style="display: block !important;">
                                    <div id="containerUserStoriesDetail" class="row row-fixed-zero"></div>
                                </div>
                                <div class="box-footer" style="display: block !important;">
                                    <button type="button" id="btnCreateTask" class="btn btn-info btn-xs">Crear</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                            <div id="containerSprints" class="box box-cus margin-top-2perc box-task">
                                <div class="box-header with-border">
                                    <h3 class="box-title textOverflow-boxTitles container-task-header">Sprints</h3>
                                </div>
                                <div class="box-body">
                                    <div id="containerSprintDetail" class="row row-fixed-zero">
                                        <span id="msgEmptySprints">Listado de sprints vac&iacute;o</span>
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <button type="button" id="btnCreateSprint" class="btn btn-info btn-xs">Crear</button>
                                    <button type="button" id="btnMatchSprintHU" class="btn btn-warning btn-xs">Vincular con HU</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<!--Modal Create or Edit Task-->
<div id="taskModal" class="modal fade" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-cust">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="taskModalTitle" class="modal-title modal-header-title">[Create_Task]</h4>
            </div>
            <div class="modal-body modal-body-cust">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 form-line-component-opt1 txt-align-right">
                        <label for="iNameTask" class="control-label">Nombre</label>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-8 col-lg-9">
                        <input data-freeze="view" type="text" class="form-control" id="iNameTask" placeholder="Nombre de tarea" readonly="readonly" />
                    </div>
                </div>
                <div class="row margin-top-2perc">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 form-line-component-opt3 txt-align-right">
                        <label>Descripci&oacute;n</label>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-8 col-lg-9">
                        <textarea data-freeze="view" id="taDescriptionTask" class="form-control" rows="2" readonly="readonly" placeholder="Descripci&oacute;n de tarea..."></textarea>
                    </div>
                </div>
                <div id="containerResponsibleTask" class="row margin-top-2perc">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 form-line-component-opt1 txt-align-right">
                        <label>Responsable</label>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-8 col-lg-9">
                        <select data-freeze="view" id="sResponsibleTask" class="form-control select2" disabled></select>
                    </div>
                </div>
                <div class="row margin-top-2perc">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 form-line-component-opt1 txt-align-right">
                        <label>Esfuerzo</label>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                        <input data-freeze="view" type="text" class="form-control" id="iEffortTask" placeholder="Esfuerzo" readonly="readonly" />
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 form-line-component-opt1 txt-align-right">
                        <label>Prioridad</label>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                        <input data-freeze="view" type="text" class="form-control" id="iPriorityTask" placeholder="Prioridad" readonly="readonly" />
                    </div>
                </div>
                <div class="row margin-top-2perc">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 form-line-component-opt4 txt-align-right">
                        <label>Criterio de Aceptaci&oacute;n</label>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-8 col-lg-9">
                        <textarea data-freeze="view" id="taCriteriaOfAcceptanceTask" class="form-control" readonly="readonly" rows="3" placeholder="Criterios de aceptaci&oacute;n..."></textarea>
                    </div>
                </div>
            </div>
            <div id="mUserStoryFooter" class="modal-footer">
                <button type="button" id="mActionTask" data-action="[action]" class="btn btn-primary btn-sm" data-dismiss="modal">[Action_Task]</button>
            </div>
        </div>
    </div>
</div>

<!--Container User Story Template-->
<script id="temp-user-story-container" type="text/x-handlebars-template">
    <div id="containerItemUserStory{{id}}" class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <div class="row row-fixed-zero external-event" {{{style}}}>
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                <div class="container-user-story-content"><span id="nameItemUserStory{{id}}">{{name}}</span></div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <button id="mBtnUpdateUserStory{{id}}" data-id="{{id}}" type="button" class="btn btn-box-tool container-user-story-tools"><i class="fa fa-plus-circle"></i></button>
            </div>
        </div>
    </div>
</script>

<!--Container Sprint Template-->
<script id="temp-sprint-container" type="text/x-handlebars-template">
    <div id="containerItemSprintParent" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row row-fixed-zero external-event" {{{style}}}>
            <div class="container-user-story-content">
                <div class="row row-fixed-zero">
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                        <input type="text" id="nameItemSprint" class="form-control sprint-container input-sprint-action" />
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <button id="btnItemSprintCreate" type="button" class="btn-sprint-action btn btn-box-tool container-user-story-tools sprint-icon-create"><i class="fa fa-check"></i></button>
                        <button id="btnItemSprintRemove" type="button" class="btn-sprint-action btn btn-box-tool container-user-story-tools sprint-icon-create"><i class="fa fa-times"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<!--Container Sprint Created Template-->
<script id="temp-sprint-created-container" type="text/x-handlebars-template">
    <div id="containerItemSprintCreated{{id}}" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row row-fixed-zero external-event" {{{style}}}>
            <div class="container-user-story-content">
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    <span id="nameItemSprintCreated{{id}}">{{name}}</span>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <button id="mBtnGoToSprintDetail{{id}}" data-id="{{id}}" type="button" class="btn btn-box-tool container-user-story-tools"><i class="fa fa-plus-circle"></i></button>
                </div>
            </div>
        </div>
    </div>
</script>

<!--Msg Sprint Empty Template-->
<script id="temp-sprints-empty-msg" type="text/x-handlebars-template">
    <span id="msgEmptySprints">Listado de sprints vac&iacute;o</span>
</script>

<script type="text/javascript">
    ejectPageLoad();
    initializedetail();
</script>