@using AgileWork.ModelView
@model IEnumerable<ProjectViewModel>
@*@model ProjectViewModel*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="containerListProjects" class="box box-primary">
            <div class="box-header">
                <h3 class="box-title textOverflow-boxTitles"><i class="fa fa-list-alt" aria-hidden="true"></i><span class="space-subtitle">Listado de Proyectos</span></h3>
            </div>
            <div class="box-body">
                <div id="containerProjects" class="row">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    buildContainersForProjects(JSON.parse('@Html.Raw(Json.Encode(Model))'));
    
    function buildContainersForProjects(data) {
        var context = {}, nodes = [], project, iProject,
            source = document.getElementById("temp-list-projects").innerHTML,
            template = Handlebars.compile(source);
        for(iProject in data){
            project = data[iProject];
            nodes.push({'name': project.Name, 'id': project.Uid});
        }
        context.projects = nodes;
        $('#containerProjects').html(template(context));
    }

    $('.btn').click(function() {
        var idProject = $(this).attr("data-identity");

        $.ajax({
            url: '@Url.Action("ProjectDetail", "Project")',
            type: 'POST',
            data: { id: idProject }
        }).done(function() {
            console.log(idProject);  
        });
    });
</script>

