@using AgileWork.ModelView
@model IEnumerable<ProjectViewModel>
@*@model ProjectViewModel*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="containerListProjects" class="box box-primary">
            <div class="box-header">
                <h3 class="box-title textOverflow-boxTitles"><i class="fa fa-list-alt" aria-hidden="true"></i><span class="space-subtitle">Listado de Proyectos</span></h3>
            </div>
            <div class="box-body">
                <div id="containerProjects" class="row">
                    <table id="movies" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                        </tr>
                        </thead>
                        <tbody>
                            @foreach(var movie in Model)
                            {
                                <tr>
                                    <td>@movie.Uid</td>
                                    <td>@movie.Name</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

