<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu">
    <li class="header">NAVEGACION</li>

    <!--1. ALUMNOS-->
    <li class="treeview">
        <a href="#">
            <i class="fa ion-social-reddit-outline"></i><span>Alumnos</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i>Alumnos Registrados</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i>Registrar Alumno</a></li>
        </ul>
    </li>

    <!--2. MATRICULAS-->
    <li class="treeview">
        <a href="#">
            <i class="fa ion-university"></i><span>Matriculas</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i>Matriculas Registradas</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i>Registrar Matricula</a></li>
        </ul>
    </li>

    <!--3. NIVELES-->
    <li class="treeview">
        <a href="#">
            <i class="fa ion-ios-people-outline"></i>
            <span>Niveles</span>
        </a>
    </li>

    <!--4. CURSOS-->
    <li class="treeview">
        <a href="#">
            <i class="fa fa-bookmark-o"></i><span>Cursos</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i>Cursos Registrados</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i>Registrar Curso</a></li>
        </ul>
    </li>

    <!--5. CURSOS-->
    <li class="treeview">
        <a href="#">
            <i class="ion ion-clipboard"></i><span>Asignatura</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i>Asignatura Registrados</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i>Registrar Asignatura</a></li>
        </ul>
    </li>

    <!--6. PSICOLOGIA-->
    <li class="treeview">
        <a href="#">
            <i class="ion ion-happy-outline"></i><span>Psicología</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i>Citas Registradas</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i>Registrar Cita</a></li>
        </ul>
    </li>

    <!--7. TUTORIA-->
    <li class="treeview">
        <a href="#">
            <i class="ion ion-android-bulb"></i>
            <span>Tutoría</span>
        </a>
    </li>

    <!--8. PAGOS-->
    <li class="treeview">
        <a href="#">
            <i class="ion ion-cash"></i><span>Pagos</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i>Listado de Ingresos</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i>Listado de Egresos</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i>Cierre de Caja</a></li>
            <li><a href="@Url.Action("Home", "Payment")"><i class="fa fa-circle-o"></i>Ingreso de Pagos de Banco</a></li>
        </ul>
    </li>

    <!--9. PERSONAL-->
    <li class="treeview">
        <a href="#">
            <i class="ion ion-ios-people-outline"></i><span>Personal</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i>Listado Personal</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i>Registrar Personal</a></li>
        </ul>
    </li>

    <!--10. INFORMACION DEL USUARIO-->
    <li class="treeview">
        <a href="#">
            <i class="ion ion-person"></i>
            <span>Información del Usuario</span>
        </a>
    </li>

    <!--11. REPORTES-->
    <li class="treeview">
        <a href="#">
            <i class="ion ion-ios-folder-outline"></i>
            <span>Reportes</span>
        </a>
    </li>

    <!--12. CONFIGURACION-->
    <li class="treeview">
        <a href="#">
            <i class="ion ion-gear-a"></i> <span>Configuración</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
            <li>
                <a href="#">
                    <i class="fa fa-circle-o"></i> Level One
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                    <li>
                        <a href="#">
                            <i class="fa fa-circle-o"></i> Level Two
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
        </ul>
    </li>
</ul>
